@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green: 35, 89, 3;
  --darkPurple: 40, 2, 89;
  --lightPurple: 76, 57, 100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .leading-trim {
    @apply font-sofia align-middle;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.custom-alignment {
  line-height: 4; /* Adjust as needed */
  margin-top: -0.2em; /* Adjust as needed */
  /* margin-bottom: -2em; */
}
